@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=REM:ital,wght@0,100;0,200;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffb92a;
}

html {
  scroll-behavior: smooth;
}

.head-line {
  padding-bottom: 1rem;
}

.head-line h1 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.head-line img {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.head-line-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon-button {
  position: relative;
  top: -5px;
  right: 10px;
  padding: 8px 9px 9px;
  margin-top: 5px;
}
.icon-button:hover {
  transform: scale(1.1);
  background-color: #03c75a;
  border-radius: 4px;
  transition: 0.2s ease;
}
.hide {
  display: none;
}
.head-line {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#search-input::placeholder {
  padding-left: 0.5rem;
}

.menus {
  display: flex;
  justify-content: center;
  padding: 5px 0 4px;
  border-top: 4px double black;
  border-bottom: 4px double black;
  flex-wrap: wrap;
}
.menus button {
  margin: 5px;
  border: none;
  background: none;
}
.menus button:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  border-radius: 4px;
  transition: 0.2s ease;
}
.news {
  display: flex;
  padding: 1em;
  border-bottom: 2px solid black;
}
.news-img {
  max-width: 100%;
  max-height: 250px;
  margin-right: 1em;
  text-align: center;
}
.title {
  font-size: 20pt;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-top: 2em;
}
.title:hover {
  text-decoration: underline;
  color: blue;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: #03c75a;
  border-radius: 3px;
}
.search-button {
  background-color: #03c75a;
  border: none;
  height: 33px;
  width: 33px;
  border-radius: 3px;
}

.search-button:hover {
  transition: 0.5s ease;
  border-radius: 12px;
}
#search-input {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  height: 33px;
}

#input-area {
  display: none;
}
@media screen and (max-width: 63rem) {
  .hide {
    display: inline;
  }
  .menus {
    display: none;
  }
}
.pagenation-nav {
  display: flex;
  justify-content: center;
}
.pagination {
  margin-top: 1em;
}
.page-item.active .page-link {
  background-color: #03c75a;
  color: white;
  border-color: #03c75a;
}
.page-link {
  color: #03c75a;
}
.col-lg-8 {
  margin-top: 1em;
}

.search-bar {
  margin: 1rem;
  display: flex;
  justify-content: center;
}
